<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form****Page</title>
</head>
<body>
<form method="post" th:action="@{/submit}" th:object="${person}">
    <div>
        <label>First-Name:</label>
        <input type="text" name="firstName" th:value="${person.firstName}" />
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{person.firstName}">First Name Error</span>
    </div>

    <div>
        <label>Lists:</label>
        <textarea name="list" rows="10" cols="50"></textarea>
    </div>

    <div>
        <label>Data Source:</label>
        <select name="selectedDataSource">
            <option th:each="dataSource : ${dataSources}" th:value="${dataSource.name}" th:text="${dataSource.name}"></option>
        </select>
    </div>

    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>
</body>
</html>
