<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Main Page</title>
    <style>
        .button-container {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div style="text-align: center;">
    <h1>Main Page</h1>
</div>

<form action="#" th:action="@{/submit}" th:object="${employee}" method="post">
    <div th:if="${errorMessage}">
        <p class="error" th:text="${errorMessage}"></p>
    </div>
    <div>
        <label style="display: inline-block; width: 150px;">First Name:</label>
        <label>
            <input type="text" th:field="*{firstName}"/>
        </label>
        <p class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
    </div>
    <div>
        <label style="display: inline-block; width: 150px;">Middle Name:</label>
        <label>
            <input type="text" th:field="*{middleName}"/>
        </label>
        <p class="error" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></p>
    </div>
    <div>
        <label style="display: inline-block; width: 150px;">Last Name:</label>
        <label>
            <input type="text" th:field="*{lastName}"/>
        </label>
        <p class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
    </div>
    <div>
        <label style="display: inline-block; width: 150px;">Date of Birth:</label>
        <label>
            <input type="text" th:field="*{dateOfBirth}" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" placeholder="yyyy-mm-dd"
                   required/>
        </label>
        <p class="error" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></p>
    </div>
    <div>
        <label style="display: inline-block; width: 150px;">Hire Date:</label>
        <label>
            <input type="text" th:field="*{hireDate}" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" placeholder="yyyy-mm-dd"
                   required/>
        </label>
        <p class="error" th:if="${#fields.hasErrors('hireDate')}" th:errors="*{hireDate}"></p>
    </div>

    <div class="button-container">
        <button type="submit">Save</button>
        <a th:href="@{/view}" class="btn">View Entries</a>
    </div>
</form>
</body>
</html>
